<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 4+2+1%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nostrum ipsum reprehenderit rerum temporibus. Vitae a laboriosam nostrum sequi
      voluptatum temporibus impedit nulla, architecto, officia magnam quisquam natus aperiam eligendi!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur nihil molestiae expedita sint. Perferendis optio suscipit cumque doloribus
      corporis libero reprehenderit nihil repudiandae reiciendis beatae a, esse magnam deleniti dolor!
    </p>
  </body>
</html>
