<%- include('partials/head')%>
<%- include('partials/navbar')%>

  <body>
    <h1>Your random number is: <%= num %></h1>
    <% if(num %2 ===0){ %>
    <h2>That is an even #</h2>
    <%} else { %>
    <h2>That is an odd #</h2>
    <% } %>
    <!-- Another way of wrinting the above -->
    <h3><%= num%2 ===0? 'Even': 'Odd'%></h3>
  </body>
</html>
